<!DOCTYPE html>
<html lang="en">
<body>

<script>
	
	function finduser() {

		var obj = { username : form.userName.value};
		console.log(obj);
		$.get("/editdata",obj,function(data, status){
            console.log(data);

            

          
            window.location = "/editdata";


		});
	}


</script>
	
	<form name = "form">
		User name : <br>
    	<input type="text" name = "userName"  id = "name" /> <br>
    	<span id="errorname" style="color:red; visibility:hidden"> username is Invalid </span><br>

		<button type="button" onclick = "finduser()"></button>

	</form>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>  
</html>    
