<!DOCTYPE html>
<html lang="en">
<body>

	
	<form name = "form" method = "POST" action = "/editdata">
		User name : <br>
    	<input type="text" name = "userName"  id = "name" /> <br>
    	<span id="errorname" style="color:red; visibility:hidden"> username is Invalid </span><br>

		<button type="submit" ></button>

	</form>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>  
</html>    
