<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>

   
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>
    </main>

    <h2>User Data</h2>

    <ul>
        <% userdata.forEach(function(ages) { %>
          <li><%= ages.username %> - <%= ages.email %> - <%= ages.birthday %> - <%= ages.quant %></li>
        <% }); %>
         <li><a href="/edit">Edit</a></li>

    </ul>
       
    <footer>
        <% include ../partials/footer %>
    </footer>
    


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>    
